.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0px 1px 3px -2px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: larger;
    font-weight: 500;
    color: gray;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-login-cart button{
    width: 150px;
    height: 60px;
    outline: none;
    border: 1px solid gray;
    border-radius: 75px;
    background-color: rgb(247, 245, 245);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 11px;
}
